extends layout

block content
  
  script(src="https://code.highcharts.com/stock/highstock.js")
  script(src="https://code.highcharts.com/stock/modules/data.js")
  script(src="https://code.highcharts.com/stock/modules/exporting.js")
  script(src="https://code.highcharts.com/stock/modules/export-data.js")
  
  //script(src="https://code.highcharts.com/highcharts.js")
  //script(src="https://code.highcharts.com/modules/exporting.js")
  //script(src="https://code.highcharts.com/modules/export-data.js")
  
  script(src="https://code.jquery.com/jquery-3.2.1.js")
  //script(src="/javascripts/date.js")
  script(src="/javascripts/test.js")
  
  #container
  
