extends layout

block content
  
  script(src="//code.highcharts.com/stock/highstock.js")
  script(src="//code.highcharts.com/stock/modules/data.js")
  script(src="//code.highcharts.com/stock/modules/exporting.js")
  script(src="//code.highcharts.com/stock/modules/export-data.js")
  script(src="//code.jquery.com/jquery-3.2.1.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.2/rangeslider.js")
  script(src="/javascripts/chart.js")
  
  #container

  .centered
    h2 Set Point
    input#setPointSlider(type='range', min=0, max=300, step=5, value=225 data-rangeslider)
    output
  .centered
    h2 PID Parameters
      table.blueTable#pid_table
        thead
          tr
            th Output
            th kp
            th kd
            th ki
            th avg temp
            th last temp
            th p term
            th d term
            th i term
        tbody
          tr#pid_data
            td 0
            td 0
            td 0
            td 0
            td 0
            td 0
            td 0
            td 0
            td 0
    button#clearWindup Clear Windup
  



  

  
  
